body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #DFDFDF;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.Content_objects {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

aside {
    width: 12vh;
    background-color: #FC7A17;
    height: 100%;
}

.viewTelas {
    width: 100%;
    height: 100%;
    flex: 1;
    height: 100%;
}

.logo{
    width: 20vh;
    margin: 12px;
    filter: drop-shadow(0 0 0.75rem #444343);
    position: absolute;
}